<div class="jumbotron container-fluid">
  <div class="well">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <h3>Pending Approvals</h3>
        <hr />
        CONTENT HERE
      </div>
    </div>
    <div class="row">
      <center>

      </center>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <h3>Pending Your Confirmation</h3>
        <hr />
        <%= render partial: 'pending_audit_confirmation', locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
      </div>
    </div>
    <div class="row">
      <center>
        
      </center>
    </div>
  </div>
</div>
